<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head><title>Hesabım</title></head>
<body><main layout:fragment="content">
    <div class="container py-4 text-center">
        <h3>Hoş Geldiniz!</h3>
        <p class="text-muted">Tiny House dünyasını keşfedin.</p>
        <a href="/tinyhouses" class="btn btn-primary btn-lg"><i class="bi bi-search"></i> Tiny House'ları Keşfet</a>
    </div>
</main></body></html>
